.awake-switch-root {
  @apply flex h-5 w-9 shrink-0 border p-0.5 transition-colors duration-150 ease-[ease] focus-visible:outline-2 focus-visible:outline-offset-2;
  background-color: var(--awake-switch-bg, white);
  border-color: var(--awake-switch-border, var(--color-awake-neutral-950));
  @apply focus-visible:outline-neutral-950;
}

.awake-switch-root[data-state="checked"] {
  background-color: var(--awake-switch-checked-bg, var(--color-awake-neutral-950));
}

.awake-switch-thumb {
  @apply size-3.5 transition-[translate,background-color] duration-150 ease-[ease];
  background-color: var(--awake-switch-thumb-bg, var(--color-awake-neutral-950));
}

.awake-switch-thumb[data-state="checked"] {
  @apply translate-x-4;
  background-color: var(--awake-switch-thumb-checked-bg, white);
}

/* Dark mode styles */
[data-theme="dark"] .awake-switch-root {
  --awake-switch-bg: var(--color-awake-neutral-dark-900);
  --awake-switch-border: var(--color-awake-neutral-dark-50);
  --awake-switch-checked-bg: var(--color-awake-neutral-dark-50);
  --awake-switch-thumb-bg: var(--color-awake-neutral-dark-50);
  --awake-switch-thumb-checked-bg: var(--color-awake-neutral-dark-900);
  @apply focus-visible:outline-white;
}